{% extends 'base.html.twig' %}

{% block body %}

<main>

    <section class="container py-4">
        <h1 class="text-center my-4">Bureau Des Étudiants La Rochelle Université</h1>
        <h2 class="text-center">Description</h2>
    </section>

</main>

{% endblock %}
